@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f2f2f2;
}

.header-container {
    width: 100%;
    background: rgba(128, 0, 0, 0.479);
    box-shadow: 0px -10px 5px 15px rgba(58, 58, 58, 0.096);
    position: fixed;
    top: 0;
    transition: .2s ease-in-out;
    z-index: 999;
    /* border-bottom: 1px solid rgb(243, 203, 26); */
}
.header-container ul {
    display: flex;
    justify-content: center;
}
.header-container ul a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 15px;
    transition: .2s ease-in-out;
}
.header-container ul a li {
    list-style: none;
}
.header-container ul .active,
.header-container ul .active:hover {
    background: rgb(243, 203, 26);
    color: #000;
}
.header-container ul a:hover {
    background: rgba(165, 38, 38, 0.281);
}
.landing-image {
    /* margin-top: 40px; */
    background: url(../img/bg.png) center/cover no-repeat;
    height: 50vh;
    border-bottom: 3px solid maroon;
}
.announcement-1{
    height: 400px;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}
.announcement-2 {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 26, 19, 0.73)),
    url(../img/announcement2.jpg) center/cover no-repeat;
    height: 400px;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}
.announcement-3 {
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 26, 19, 0.73)),
    url(../img/announcement3.jpg) center/cover no-repeat;
    height: 400px;
    width: 100%;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}
.announcement-container {
    width: 80%;
    margin: 0 auto;
}
.announcement-container div {
    margin: 20px 0;
}
.announcement-container a {
    text-decoration: none;
}
.tag {
    color: #fff;
    background-color: rgba(128, 0, 0, 0.842);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 0 !important;
}
.announcement-container h1 {
    margin-top: 30px;
}
.announcement-content {
    position: absolute;
    bottom: -20px;
    color: #fff;
}
.load-more-announcement i {
    color: #fff;
}
.load-more-announcement a{
    background: rgba(128, 0, 0, 0.651);
    color: #fff;
    transition: .2s ease-in-out;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    animation: mymove 2s 0s infinite;
    position: relative;
}
@keyframes mymove {
    0%   {top: 0px;}
    50% {top: -5px;}
    100% {top: 0;}
  }
.load-more-announcement a:hover {
    background-color: maroon;
}
.upcoming-schedule {
    margin: 40px 0;
    padding: 0 10%;
    border-bottom: 1px solid #ccc;
}
.schedule-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
.upcoming-schedule h1 {
    color: maroon;
}
.schedule-header a {
    padding: 5px 20px;
    background: maroon;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.schedule-header a:hover {
    background: rgba(128, 0, 0, 0.726);
}
.upcoming-card-header {
    width: 80px;
    height: 50px;
    background: maroon;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.upcoming-card-body {
    width: 80px;
    height: 20px;
    background: rgba(128, 0, 0, 0.603);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.calendar-card {
    color: #fff;
}
.upcoming-container {
    display: flex;
    align-items: center;
    gap: 10px;
    /* min-width: 50%; */
    flex: 50%;
    margin-bottom: 30px;
}
.upcoming-title {
    color: rgb(56, 56, 56);
    text-transform: uppercase;
}
.upcoming-title h5 {
    color: rgb(104, 104, 104);
}
.upcoming-schedule-content {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}
.footer {
    width: 100%;
    padding: 50px 10%;
    background: #000;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer-section {
    display: flex;
    flex-direction: column;
    gap: 5px 15px;
}
.footer-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-section span, .footer-section a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.footer-section .fb, .fa-facebook {
    color: #3b5998;
}
.footer-section .tw, .fa-twitter {
    color:  #00acee;
}
.footer-section .ig, .fa-instagram {
    color:  #d62976;
}

.background-filter::after {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* backdrop-filter: opacity(50%/); */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.background-filter {
    position: relative;
}

.background {
    background: url(../img/announcement1.jpg) center/cover no-repeat;
    padding: 20px 0;
    width: auto;
    text-align: center;
    color: #fff;
}

.u-non-blurred {
    position: relative;
    z-index: 1;
    font-size: 40px;
}
.p-non-blurred {
    z-index: 1;
    position: relative;
    font-size: 15px;
}
.p-non-blurred a {
    color: #fff;
    background: rgba(128, 0, 0, 0.801);
    padding: 10px 15px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: .2s ease-in-out;
}
.p-non-blurred.div {
    margin-top: 15px;
}
.p-non-blurred a i {
    transition: .2s ease-in-out;
}
.p-non-blurred a:hover i {
    margin-left: 5px;
}
.p-non-blurred a:hover {
    background: maroon;
}
